.navbar-dark .nav-item .nav-link {
	color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease;
	border-radius: 0.25rem;
	color: #fff;
  }
  
  .fa-li {
	position: relative;
	left: 0;
  }
  .carousel .carousel-item {
	height: 300px;
  }
  
  .carousel .carousel-item img {
	min-height: 300px;
	max-height: 400px;
	object-fit: cover;
  }
  /*.img {  
	max-height: 100%;  
	max-width: 100%; 
	width: auto;
	height: auto;
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
}
*/